.sidebar{
    background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
    /* position: fixed; */
    width: 250px;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translateX(15px);
}
.sidebar svg{
    margin-right: 5px;
}

                