.review-container{
    /* background-color:#d8d4d3; */
    background-image: url(../../../images/reviewBg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height:500px;


    }
    .text{
       color:gray;
       font-style: italic;
    }
    .fa {
        font-size: 25px;
      }

      .checked {
        color: orange;
      }
      .heading {
        font-size: 25px;
        margin-right: 25px;
      }