.header-container {
    height:600px;
    background-image: url('https://i.pinimg.com/originals/cc/48/3b/cc483b945cf746255339655b2a5f25b3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}


